<li  class="container-fluid navBarInfoList">
  <a ng-if="type!='follow'" class="row" style="position: relative; top:-7px; text-decoration:none !important;"  ng-click="openNotification(notificationPost , data.pk)" >
    <i class="fa fa-bell-o fa-2x "></i>
    <div class="col-md-11 pull-right" style="position: relative; top:-10px">
      <span class="text-muted" style="font-size:15px;">{{friend | getName}}</span>
      <small style="position:absolute;right:0px;"class="pull-right text-muted">{{data.created | timeAgo}} <i class="fa fa-clock-o "></i></small>
      <br>
      <div ng-if="notificationType == 'like'"> <span style="color: {{data.read? '#676767':''}};">  Liked your post </span></div>
      <div ng-if="notificationType == 'comment'"> <span style="color: {{data.read? '#676767':''}};">  commented on your post </span> </div>
      <div ng-if="notificationType == 'response'"> <span style="color: {{data.read? '#676767':''}};">  responded on your post </span> </div>
    </div>
  </a>

  <a ng-if="type=='follow'" class="row" style="position: relative; top:-7px; text-decoration:none !important;">
    <img   class="img-circle" ng-src="{{friend | getDP}}"  alt="My image" style="width:40px;height:40px;position: relative; top:-8px;"/ ng-click="openFollower(friend , data.pk)">
    <div class="col-md-10 pull-right" style="position: relative; top:-10px">
      <span class="text-muted" style="font-size:15px;" >{{friend | getName}}</span>
      <small style="position:absolute;right:0px;"class="pull-right text-muted">{{data.created | timeAgo}} <i class="fa fa-clock-o "></i></small>
      <br>
      <div ng-if="notificationType == 'follow'"> <span style="color: {{data.read? '#676767':''}};">  started following you </span></div>
    </div>
  </a>
</li>
