<div class="modal-body" style="padding:0px;">
   <div class="row text-center" >
     <div ng-click="changingType('Buying')" class="col-xs-4" style="cursor:pointer;background:#0f2d53;padding:10px;color:white;">
       <span style="font-size:20px;"> Buy</span> <br>
       <i class="fa fa-credit-card fa-5x" aria-hidden="true"></i>
     </div>
     <div ng-click="changingType('Barter')" class="col-xs-4" style="cursor:pointer;background:#0f2d53;padding:10px;color:white;">
       <span style="font-size:20px;"> Barter</span> <br>
       <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
     </div>
     <div ng-click="changingType('Selling')" class="col-xs-4" style="cursor:pointer;background:#0f2d53;padding:10px;color:white;" >
       <span style="font-size:20px;"> Sell </span> <br>
       <i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i>
     </div>
   </div>
</div>
