<div class="input-group" >
  <textarea class="form-control" id="cmt" rows="1" cols="80" placeholder="{{placeholder}}" style="resize:none; border:none; border-radius: 0px;" ng-model="comment.txt"></textarea>
  <span ng-if="fileSize!=0" class="input-group-addon btn btn-default" style="border:none; border-radius: 0px;"><i class="fa {{fileName | fileTypeIcon }}"></i> <br> {{fileName}}</span>
  <input type="file" id="filePicker" style="display:none;" file-model="comment.file">
  <span class="input-group-addon btn btn-default" style="border:none; border-radius: 0px;" ng-click="checkFile()"><i class="fa fa-{{fileSize == 0? 'paperclip':'times'}}" aria-hidden="true" ></i></span>
  <span ng-click="send()" class="input-group-addon btn btn-default" style="border:none; border-radius: 0px;"><i class="fa fa-paper-plane" aria-hidden="true" ></i></span>
</div>
