{% extends 'app.socialBase.html' %} {% load staticfiles %} {% block contentBody %}
<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 visible-lg visible-md " style="background-color:#e0e0e0;height:100vh;position:fixed;">
      <div class="row" style="padding:10px;padding-top:70px">
        <div class="col-md-3">
          {% if profileObj.displayPicture %}
          <img src="{{ profileObj.displayPicture.url }}" alt="Profile Pic" style="padding-top:15px; width:70px;"> {% else %}
          <img src="/static/images/img_avatar.png" alt="Profile Pic" style="padding-top:15px; width:70px;"> {% endif %}
        </div>
        <div class="col-md-9">
          <div class="row" style="margin-left:10px">
            <h4><b>{{userObj.first_name}} {{userObj.last_name}}</b></h4>
          </div>
          <!-- <div class="container-fluid card" > -->
          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-envelope" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.email}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-mobile fa-lg" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.mobile}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-globe fa-lg" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.website}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-calendar" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.year_established}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-map-marker fa-lg" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.street}}, <br> {{profileObj.city}}, {{profileObj.state}} - {{profileObj.pincode}} <br>{{profileObj.country}}
            </div>
          </div>

          <!-- </div> -->
        </div>
      </div>
      <div class="row" style="padding:10px; padding-left:30px;">
        <strong>Groups</strong>
      </div>
      <div class="row" style="padding:10px; padding-left:30px;">
        <strong>Connections</strong>
      </div>
      <div class="row" style="padding:10px; padding-left:30px;">
        <strong>Contacts</strong>
      </div>
      <div class="row">
        <div class="container-fluid text-center" style="position:absolute; bottom:10px;">
          <strong>Suggestions</strong>
          <div class="row" style="margin-top:20px;" ng-repeat="group in [1]">
            <div class="col-xs-12">
              <img src="/static/images/group.jpg" width="100%" alt="">
            </div>
            <div class="row" style="margin:15px;">
              <div class="col-xs-8" style="background:#ffffff; padding:0px; height:30px;">
                <span style="cursor:pointer">abcd pvt ltd</span>
              </div>
              <div class="col-xs-4" style="padding:0px; height:30px;">
                <div class="col-xs-12" style="cursor:pointer;background:#0f2d53;padding:5px;color:white;">
                  Connect
                </div>
              </div>
            </div>
            <div class="row">

            </div>

          </div>
        </div>
      </div>



    </div>

    {% verbatim %}
    <div class="col-md-6 col-md-offset-3 newsFeed" style="background-color:#ffffff">

      <div class="row">
        <comment-Edit comment="postEdit" send="addPost" config="configPost" style="border: 2px solid #eeeeee;"></comment-Edit>
        <!-- <textarea type="text" class="form-control" name="" value="" placeholder="Sell,buy,barter?" style="resize:none;"></textarea> -->
      </div>

      <div style="padding:20px;">
        <div class="row" style="border:solid 2px #eeeeee; margin-top:20px; " ng-repeat="item in [1,2,3,4,5]">
          <div class="row" style=" border-bottom:solid 2px #eeeeee; margin:0px;">
            <div class="col-xs-2" style="padding:0px;">
              <img src="/static/images/img_avatar.png" width="50" height="50" alt="">
            </div>
            <div class="col-xs-8">
              <span style="cursor:pointer;">Amit kumar</span> <br>
              <span class="text-muted" style="font-size:11px;">Marketing Manager</span> <br>
            </div>
            <div class="col-xs-2" style="padding:20px;padding-bottom:0px;">
              <span class="text-muted pull-right" style="font-size:11px;">21 mins</span>
            </div>
          </div>
          <div class="row">
            <div class="container-fluid" style="padding:20px;">
              <span style="font-size:20px;">I want to sell abc s Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                , sunt in culpa qui officia deserunt mollit anim id est laborum.
              </span>
            </div>
          </div>
          <div class="row text-center" style="margin:0px;border-top:solid 2px #eeeeee; border-bottom: 2px solid #eee;">

            <div class="col-xs-6" style="padding-top:10px;">
              <div class="col-xs-1">
                <span style="color:#43627d; cursor:pointer;" ng-click="allComments();"><i class="fa fa-commenting-o fa-lg" aria-hidden="true"></i> </span>
              </div>
              <div class="col-xs-1">
                <span style="color:#43627d; cursor:pointer;"><i class="fa fa-share fa-lg" aria-hidden="true" style="margin-left:5px;"></i> </span>
              </div>
              <div class="col-xs-4">
                <span style="color:#43627d; cursor:pointer;"> <i class="fa fa-thumbs-up fa-lg" aria-hidden="true" style="margin-right:10px;"></i>3 Likes </span>

              </div>
            </div>


            <div class="col-xs-3" style="cursor:pointer;background:#fc5900;padding:10px;color:white;">
              Buy
            </div>
            <div class="col-xs-3" style="cursor:pointer;background:#0f2d53;padding:10px;color:white;">
              Barter
            </div>
          </div>

          <div ng-if="showComments" class="row" style="padding:30px; padding-bottom:0px;">
            <!-- <social-Comment ng-repeat="c in post.comments" pk="c"></social-Comment> -->


            <div class="media" ng-repeat="comments in [1,2]">
              <div class="media-left">
                <a href="#"> <img alt="" class="media-object"  style="width: 40px; height: 40px;" src="/static/images/avatar5.png"> </a>
              </div>
              <div class="media-body">
                <h5 class="media-heading" style="cursor:pointer;"><strong>Andrew Singh</strong></h5>
                <span style="font-size:15px;"> Cras sit amet nibh libero, in gravida nulla.Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</span>
                <h6 class="text-primary"> <i class="fa fa-thumbs-up"></i> 0 Likes</h6>

              </div>
            </div>

            <div class="media">
              <div class="media-left">
                <a href="#"> <img alt="" class="media-object"  style="width: 40px; height: 40px;" src="/static/images/avatar5.png"></a>
              </div>
              <div class="media-body">
                <h5 class="media-heading" style="cursor:pointer;"><strong>Sundar Pichai</strong></h5>
                <!-- <span style="font-size:15px;"> <img ng-click="expandImage(me.profile.displayPicture)" class="img img-rounded" ng-src="{{me.profile.displayPicture}}" alt="" width="300px;"> </span> -->
                <span style="font-size:15px;"> <img ng-click="expandImage('/static/images/ecommerce.wallpaper3.jpg')" class="img img-rounded" src="/static/images/ecommerce.wallpaper3.jpg" alt="" width="300px;"> </span>
                <h6 class="text-primary"> <i class="fa fa-thumbs-up"></i> 0 Likes</h6>
              </div>
            </div>

            <div class="media">
              <div class="media-left">
                <a href="#"> <img alt="" class="media-object"  style="width: 40px; height: 40px;" src="/static/images/avatar5.png"> </a>
              </div>
              <div class="media-body">
                <h5 class="media-heading" style="cursor:pointer;"><strong>Sachin Bansal</strong></h5>
                <span style="font-size:15px;"> <i class="fa {{ '/some.pdf' | fileTypeIcon }} fa-3x"></i>  <a href="/some.pdf">some.pdf</a> </span>
                <h6 class="text-primary"> <i class="fa fa-thumbs-up"></i> 0 Likes</h6>
              </div>
            </div>

            <div class="row" style="margin-top:20px; ">
              <comment-Edit comment="commenEdit" send="addComment" config="config"></comment-Edit>
            </div>


          </div>

        </div>

      </div>
    </div>

    <div class="col-xs-3 col-xs-offset-9 " style="background:#eeeeee;height:100vh;position:fixed;">
      <div class="row" style="padding:30px;padding-top:70px;">
        <strong>Leads</strong>

        <div class="card" style="padding-bottom:0px; margin-top:20px; background:#ffffff " ng-repeat="lead in [1,2]">
          <div class="row" style=" margin:0px; border-bottom:1px solid #e0e0e0">
            <div class="col-xs-2" style="padding:0px;">
              <img src="/static/images/img_avatar.png" width="40" height="40" alt="">
            </div>
            <div class="col-xs-10">
              <span>Ashish Singh</span> <br>
              <span class="text-muted" style="font-size:11px;">Head of Digital Marketing </span>
            </div>
          </div>
          <div class="row" style="margin:10px;">
            <span>35 Carpets</span>
          </div>
          <div class="input-group" style="border-top: 1px solid #e0e0e0; ">
            <textarea name="name" rows="2" cols="80" class="form-control" style="resize:none; border:none;box-shadow: none; " placeholder="Intrested?"></textarea>
            <span class="input-group-addon btn btn-default" style="border:none; border-radius: 0px;"><i class="fa fa-paper-plane" aria-hidden="true" ></i></span>
          </div>
        </div>

      </div>


    </div>
    {% endverbatim %}





  </div>



</div>
</div>
{% endblock %} {% block specific_js %}
<script src="{% static 'js/app.social.js' %}"></script>
{% endblock %}
