{% extends 'app.socialBase.html' %} {% load staticfiles %} {% block contentBody %}

<script type="text/javascript">
{% if profileObj.user in userObj.profile.following.all %}
  following = true;
{% else %}
following = false;
{% endif %}
followersCount = {{profileObj.user.followers.count}}
profileUserPk = {{profileObj.user.pk}}
</script>

<div class="container-fluid">
  <div class="row" style=" padding-top:50px;">
    <div class="col-md-offset-1 col-md-10" style="background:#ffffff; padding: 0px;">
      <div class="row text-center" style="position:relative;">
        {% if profileObj.coverPicture %}

        <img src="{{profileObj.coverPicture.url}}" class="img-responsive" alt="cover" width="100%;" style="max-height:350px; margin-left:3px;">{% else %}
        <img src="/static/images/yomilio_profile_coverpic.jpeg" class="img-responsive" alt="cover" width="100%;" style="max-height:350px; margin-left:3px;"> {% endif %} {% if profileObj.displayPicture %}
        <img src="{{profileObj.displayPicture.url}}" class="img-responsive img-circle" alt="profile" width="100px;" height="100px;" style="position:absolute; bottom:-50px; left:50px; "> {% else %}
        <img src="/static/images/img_avatar.png" class="img-responsive img-circle" alt="profile" width="100px;" height="100px;" style="position:absolute; bottom:-50px; left:50px; "> {% endif %}
        <strong style="position:absolute; bottom:-40px; left:160px; font-size:20px;">{{profileObj.user.first_name}} {{profileObj.user.last_name}}</strong>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="row">
        <div class=" col-md-4 card" style="margin-left:-10px; padding-top:70px; margin-left:-10px; position:sticky; top:40px;">
          {% if obj.pk != userObj.pk and request.user.is_authenticated %}
          <div class="row text-center">
            <div class="btn-group">
              <!-- {% if profileObj.user in userObj.profile.following.all %}
              <button type="button" class="btn btn-success" ng-click="sendFollow('{{obj.pk}}','unfollow')">
                Un Follow
              </button>
              {% else %}
              <button type="button" class="btn btn-primary" ng-click="sendFollow('{{obj.pk}}','follow')">
                Fallow &nbsp; <i class="fa fa-user-plus fa-lg"></i>
              </button>
              {% endif %} -->
              <button type="button" class="btn btn-success" ng-click="sendFollow('{{obj.pk}}','unfollow')" ng-if="following==true">
                Un Follow
              </button>
              <button type="button" class="btn btn-primary" ng-click="sendFollow('{{obj.pk}}','follow')" ng-if="following==false">
                Fallow &nbsp; <i class="fa fa-user-plus fa-lg"></i>
              </button>
              <button type="button" class="btn btn-default pull-right" ng-click="msgRequest('{{obj.pk}}')"><i class="fa fa-comments-o fa-lg"></i></button>

            </div>
          </div>
          <br>
          {% endif %}
          <div class="row">
            <div class="col-md-1" style="text-align:right;">
              <label><i class="fa fa-users" > </i></label>
            </div>
            <div class="col-md-11" style="margin-left:-10px;">
              {% verbatim %}
              {{followersCount}} Followers
              {% endverbatim %}
            </div>
          </div>
          {% if request.user.is_authenticated %}
          <div class="row">
            <div class="col-md-1" style="text-align:right;">
              <label><i class="fa fa-envelope" > </i></label>
            </div>
            <div class="col-md-11" style="margin-left:-10px;">

              {{profileObj.email}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-1" style="text-align:right;">
              <label><i class="fa fa-mobile fa-lg" > </i></label>
            </div>
            <div class="col-md-11" style="margin-left:-10px;">

              {{profileObj.mobile}}
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-md-1" style="text-align:right;">
              <label><i class="fa fa-globe" > </i></label>
            </div>
            <div class="col-md-11" style="margin-left:-10px;">
              {% if profileObj.website %}
              <a href="{{profileObj.website}}" target="_blank">{{profileObj.website}}</a> {% else %} {{profileObj.website}} {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-1" style="text-align:right;">
              <label><i class="fa fa-calendar" > </i></label>
            </div>
            <div class="col-md-11" style="margin-left:-10px;">

              {{profileObj.year_established}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-1" style="text-align:right;">
              <label><i class="fa fa-map-marker" > </i></label>
            </div>
            <div class="col-md-11" style="margin-left:-10px;">

              {{profileObj.street}}, <br> {{profileObj.city}}, {{profileObj.state}} - {{profileObj.pincode}} <br>{{profileObj.country}}
            </div>
          </div>

        </div>

        <!-- {% verbatim %} -->
        <div class="col-xs-8" style="padding-left:50px; padding-right:0px;">
          <div class="row text-center" ng-if="noPosts">
            <h2 class="text-muted"> There are no posts yet. </h2>
          </div>
          <social-Post data="p" ng-repeat="p in posts" index="$index"   me="me.pk" > </social-Post>
        </div>
        <!-- {% endverbatim %} -->
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block specific_js %}
<script src="{% static 'js/app.social.profile.js' %}"></script>
{% endblock %}
