<div ng-controller="header">
  <div class="row" style="background-color:#3b5998;padding:10px;padding-left:30px;padding-right:30px; position:fixed; width:100%; margin-left:0px; z-index:1000">
    <div class="col-md-3">
      <!-- <span style="color:white;font-size:20px;">Yomillio</span> -->
      <a href="/social"><img src="/static/images/yo_icon.svg" width="200px;" alt="" ></a>
    </div>
    {% if not user.is_authenticated %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/register" style="color:white;background-color: transparent !important"> <i class="fa fa-user"></i> Register</a>
        </li>
        <li>
          <a href="/login" style="color:white;background-color: transparent !important"> <i class="fa fa-sign-in"></i> Login</a>
        </li>
      </ul>
    </div>
    {% endif %} {% if request.user.is_authenticated %}
    <div class="col-md-4 ">
      <input uib-typeahead="user as user.username for user in userSearch($viewValue)" ng-model="header.userSearch" type="text" class="form-control" placeholder="Search" autocomplete="off">
    </div>

    <div class="col-md-5 navbarControls">
      <div class="text-center">
        <div class="row">
          {% verbatim %}
          <div class="col-xs-2">
            <div class="dropdown hidden-xs hidden-sm">
              <i class="fa fa-user-plus fa-2x dropdown-toggle" data-toggle="dropdown" style="color:white; cursor:pointer;"></i>
              <span ng-if="unreadFollNotif!=0" class="label label-danger ng-binding ng-scope" style="position: absolute;top: 5px;">{{unreadFollNotif}}</span>
              <ul class="dropdown-menu navDropDownList" style="left:-150px">
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="nav" style="position:relative; top:-5px;">
                    <div ng-repeat="notice in followNotif">
                      <notification-strip data="notice" type="'follow'" ></notification-strip>
                    </div>
                  </ul>
                </li>
                <a href="" ng-click="openAllNotifications()"><i class = "fa fa-external-link"></i> See All Followers</a>
              </ul>
            </div>
            <div class="visible-sm visible-xs" style="padding-top:10px;">
              <i class="fa fa-user-plus fa-2x dropdown-toggle" data-toggle="dropdown" style="color:white; cursor:pointer;"></i>
              <span ng-if="unreadFollNotif!=0" class="label label-danger ng-binding ng-scope" style="position: absolute;top: 5px;">{{unreadFollNotif}}</span>
            </div>
          </div>

          <div class="col-xs-2">
            <div class="dropdown hidden-xs hidden-sm">
              <i class="fa fa-comments-o fa-2x dropdown-toggle" data-toggle="dropdown" style="color:white; cursor:pointer;"></i>
              <span ng-if="totalUnread!=0" class="label label-danger ng-binding ng-scope" style="position: absolute;top: 5px;">{{totalUnread}}</span>
              <ul class="dropdown-menu navDropDownList" style="left:-150px">
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="nav" style="position:relative; top:-5px;">
                    <div ng-repeat="message in ims track by $index">
                      <message-strip data="message" open-chat="addIMWindow"></message-strip>
                    </div>
                  </ul>
                </li>
                <a href="/social/messages" ng-click="openAllMessages()"><i class = "fa fa-external-link"></i> See All Messages</a>
              </ul>
            </div>
            <div class="visible-sm visible-xs" style="padding-top:10px;">
              <i class="fa fa-comments-o fa-2x dropdown-toggle" data-toggle="dropdown" style="color:white; cursor:pointer;"></i>
              <span ng-if="totalUnread!=0" class="label label-danger ng-binding ng-scope" style="position: absolute;top: 5px;">{{totalUnread}}</span>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="dropdown hidden-xs hidden-sm">
              <i class="fa fa-globe fa-2x dropdown-toggle" data-toggle="dropdown" style="color:white; cursor:pointer;"></i>
              <span ng-if="unreadNotif!=0" class="label label-danger ng-binding ng-scope" style="position: absolute;top: 5px;">{{unreadNotif}}</span>
              <ul class="dropdown-menu navDropDownList" style="left:-150px">
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="nav" style="position:relative; top:-5px;">
                    <div ng-repeat="notice in notif">
                      <notification-strip data="notice" type="'default'" ></notification-strip>
                    </div>
                  </ul>
                </li>
                <a href="" ng-click="openAllNotifications()"><i class = "fa fa-external-link"></i> See All Notifications</a>
              </ul>

            </div>

            <div class="visible-sm visible-xs" style="padding-top:10px;">
              <i class="fa fa-globe fa-2x dropdown-toggle" data-toggle="dropdown" style="color:white; cursor:pointer;"></i>
              <span ng-if="unreadNotif!=0" class="label label-danger ng-binding ng-scope" style="position: absolute;top: 5px;">{{unreadNotif}}</span>
            </div>

          </div>
          {% endverbatim %}


          <div class="col-md-offset-3 col-md-3 col-xs-offset-2 col-xs-2 ">
            <div class="dropdown navbarControls hidden-sm hidden-xs">
              <div class="col-md-7">
                <div class="row text-right" style="color:white;padding-top:10px">
                  <label>{{userObj.first_name}}</label>
                </div>
              </div>
              <div class="col-md-5">
                {% if userObj.profile.displayPicture %}
                <img src="{{ userObj.profile.displayPicture.url }}" class="img img-circle  dropdown-toggle" data-toggle="dropdown" style="height:40px;width:40px; cursor:pointer;"> {% else %}
                <img src="/static/images/img_avatar.png" class="img img-circle  dropdown-toggle" data-toggle="dropdown" style="height:40px;width:40px; cursor:pointer;"> {% endif %}

                <ul class="dropdown-menu " style="margin-right:0px;padding-top:0px;left:-100px;">
                  {% if userObj.profile.displayPicture %}
                  <li> <img src="{{ userObj.profile.displayPicture.url }}" style="width: 170px;" alt=""> </li>
                  {% else %}
                  <li> <img src="/static/images/img_avatar.png" style="width: 170px;" alt=""> </li>
                  {% endif %}
                  <li><a href="/social/profile/{{userObj.username}}">MyProfile</a></li>
                  <li><a href="/social/account">Account</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </div>
            </div>

            <div class="visible-sm visible-xs" style="padding-top:10px;">
              {% if userObj.profile.displayPicture %}
              <img src="{{ userObj.profile.displayPicture.url }}" class="img img-circle  dropdown-toggle" data-toggle="dropdown" style="height:30px;width:30px; cursor:pointer;"> {% else %}
              <img src="/static/images/img_avatar.png" class="img img-circle  dropdown-toggle" data-toggle="dropdown" style="height:30px;width:30px; cursor:pointer;"> {% endif %}
            </div>
          </div>

          <div class="col-xs-2 visible-xs visible-sm " style="padding-top:10px; cursor:pointer;">
            <div class="bar" ng-repeat="bar in [1,2,3]">
              <!-- 3 lines on top right for mobile view -->
            </div>
          </div>

        </div>


      </div>
    </div>

    {% endif %}

  </div>


  {% verbatim %}
  <div ng-repeat="pk in chatWindows">
    <chat-Window user="pk" pos="$index" toggle="maximaStatus[$index]" close="closeChatWindow"> </chat-Window>
  </div>
  {% endverbatim %}



</div>
