{% extends 'app.socialBase.html' %}
{% load staticfiles %}

{% block contentBody %}

{% verbatim %}

<!-- all the
 new content here -->
<div class="col-md-2" style="padding-top:80px;background: -moz-linear-gradient(bottom,rgba(255,0,0,0),rgba(212, 212, 212, 1));min-height:800px;padding-left:0px;padding-right:0px">
  <ul class="nav nav-sidebar" style="width:100%;">
    <li class=text-center><i class="fa fa-cogs fa-4x"></i></li><br>
    <li ng-click="tabChange('password')"><a href="">Password <i class="fa fa-lock fa-lg pull-right"></i></a></li>
    <li ng-click="tabChange('organization')"><a href="">Organization <i class="fa fa-building-o fa-lg pull-right"></i></a></li>
    <li ng-click="tabChange('office')"><a href="">Offices / Branches <i class="fa fa-sitemap fa-lg pull-right"></i></a></li>
    <li ng-click="tabChange('notification')"><a href="">Notification <i class="fa fa-bell-o fa-lg pull-right"></i></a></li>
  </ul>
</div>

<div class="col-md-10">

  <div ng-if="tabTyp == 'password'">
    <div class="container-fluid" style="margin-top:70px;margin-left:15px">
      <div class="row" style="margin-top:20px">
        <div class="row" style="margin-bottom:30px;margin-left:10px">
          <h3> Change Password </h3>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="form-group">
              <label>Old Password</label>
              <input type="password" class="form-control" ng-model="userPasswords.oldPassword" placeholder="Old Password" autocomplete="off">
            </div>
            <div class="form-group">
              <label>New Password</label>
              <input type="password" class="form-control" ng-model="userPasswords.password" placeholder="New Password" autocomplete="off">
            </div>
            <div class="form-group" ng-class="{'has-error' : userPasswords.password!=userPasswords.password2 && userPasswords.password!=''}">
              <label class="control-label">Confirm Password</label>
              <input type="password" class="form-control" ng-model="userPasswords.password2" placeholder="Confirm Password" autocomplete="off">
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:25px">
        <button ng-click="changeUserPassword()" type="button" class="btn btn-primary">
          Save &nbsp;<i class="fa fa-lock"></i>
        </button>
      </div>
    </div>
  </div>

  <div ng-if="tabTyp == 'organization'">
    <div class="container-fluid" style="margin-top:70px;">
      <div class="row" style="margin-top:20px">
        <div class="row" style="margin-bottom:30px">
          <div class="col-md-4">
            <div class="row pull-right">
              <img style="width: 100px;height:100px;" class="img img-circle" ng-if="me.profile.displayPicture != null" ng-src="{{me.profile.displayPicture}}">
              <img style="width: 100px;height:100px;" class="img img-circle" ng-if="me.profile.displayPicture == null" src="/static/images/img_avatar.png">
            </div>
          </div>
          <div class="col-md-7 col-md-offset-1">
            <h3> Edit Organization Profile</h3>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Mobile</label>
                <input type="text" class="form-control" ng-model="profileForm.mobile" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" ng-model="profileForm.email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>CIN</label>
                <input type="text" class="form-control" ng-model="profileForm.cin" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Year Established</label>
                <input class="form-control" type="text" ng-model="profileForm.year_established">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" ng-model="profileForm.street" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <input class="form-control" type="text" ng-model="profileForm.city">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Pincode</label>
                <input type="tel" class="form-control" ng-model="profileForm.pincode" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>State</label>
                <input class="form-control" type="text" ng-model="profileForm.state">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" ng-model="profileForm.country" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Website Url</label>
                <input class="form-control" type="text" ng-model="profileForm.website">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Display Picture</label>
                <input type="file" name="DP" file-model="profileForm.displayPicture">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Cover Photo</label>
                <input type="file" name="CoverPhoto" file-model="profileForm.coverPicture">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:25px;margin-bottom:25px">
        <div class="col-md-5 col-md-offset-5">
          <button ng-click="saveOrganization()" type="button" class="btn btn-primary">
            Save &nbsp;<i class="fa fa-building-o"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="tabTyp == 'notification'">
    <div class="container-fluid" style="margin-top:70px;">
      <div class="row" style="margin-top:20px">
        <div class="row" style="margin:5px 50px">
          <!-- <div class="row text-center" style="margin-bottom:30px;margin-left:10px">
            <h3> Change Notification Alerts </h3>
          </div>
          <hr> -->
          <div class="row" style="padding:10px 0px;border-bottom:2px solid #eeeeee">
            <div class="col-md-8">
              <b>New Message Allert</b>
            </div>
            <div class="col-md-4">
              <div class="row pull-right">
                <span style="margin-right:10px;font-size:15px">Off</span>
                <switch ng-model="notificationSettings.messageAlert" ></switch>
                <span style="margin-left:10px;font-size:15px">On</span>
              </div>
            </div>
          </div>
          <div class="row" style="padding:10px 0px;border-bottom:2px solid #eeeeee">
            <div class="col-md-8">
              <b>New Request Allert</b>
            </div>
            <div class="col-md-4">
              <div class="row pull-right">
                <span style="margin-right:10px;font-size:15px">Off</span>
                <switch ng-model="notificationSettings.requestAlert" ></switch>
                <span style="margin-left:10px;font-size:15px">On</span>
              </div>
            </div>
          </div>
          <div class="row" style="padding:10px 0px;border-bottom:2px solid #eeeeee">
            <div class="col-md-8">
              <b>Periodic Notificaions</b>
            </div>
            <div class="col-md-4">
              <div class="row pull-right">
                <span style="margin-right:10px;font-size:15px">Off</span>
                <switch ng-model="notificationSettings.periodicNotification" ></switch>
                <span style="margin-left:10px;font-size:15px">On</span>
              </div>
            </div>
          </div>
          <div class="row" style="padding:10px 0px;border-bottom:2px solid #eeeeee">
            <div class="col-md-8">
              <b>Newsletter</b>
            </div>
            <div class="col-md-4">
              <div class="row pull-right">
                <span style="margin-right:10px;font-size:15px">Off</span>
                <switch ng-model="notificationSettings.newsletter" ></switch>
                <span style="margin-left:10px;font-size:15px">On</span>
              </div>
            </div>
          </div>
          <div class="row" style="padding:10px 0px;border-bottom:2px solid #eeeeee">
            <div class="col-md-8">
              <b>Promotional</b>
            </div>
            <div class="col-md-4">
              <div class="row pull-right">
                <span style="margin-right:10px;font-size:15px">Off</span>
                <switch ng-model="notificationSettings.promotional" ></switch>
                <span style="margin-left:10px;font-size:15px">On</span>
              </div>
            </div>
          </div>
          <div class="row text-center" style="margin-top:20px">
            <div class="btn btn-primary" ng-click = "saveNotification()">
              Save &nbsp;<i class="fa fa-bell-o"></i>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div ng-if="tabTyp == 'office'">
    <div class="row" style="margin-top:30px">
      <div ng-include="'/static/ngTemplates/app.HR.form.organization.html'" ></div>
    </div>
  </div>

</div>

{% endverbatim %}

{% endblock %}
{% block specific_js %}
<script src="{% static 'js/app.social.account.js' %}"></script>
{% endblock %}
