{% extends 'app.socialBase.html' %} {% load staticfiles %} {% block contentBody %}
<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 visible-lg visible-md " style="background-color:#e0e0e0;height:100vh;position:fixed;">
      <div class="row" style="padding:10px;padding-top:70px">
        <div class="container-fluid">
          <div class="row" style="padding-left:30px;">
            {% if profileObj.displayPicture %}
            <img src="{{ profileObj.displayPicture.url }}" alt="Profile Pic" style="padding-top:15px; width:70px;"> {% else %}
            <img src="/static/images/img_avatar.png" alt="Profile Pic" style="padding-top:15px; width:70px;"> {% endif %}
          </div>
          <div class="row" style="margin-left:10px">
            <h4><b>{{userObj.first_name}} {{userObj.last_name}}</b></h4>
          </div>
          <!-- <div class="container-fluid card" > -->
          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-users" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.user.followers.count}} Followers
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-envelope" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.email}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-mobile fa-lg" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.mobile}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-globe fa-lg" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.website}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-calendar" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.year_established}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" style="text-align:right;">
              <label><i class="fa fa-map-marker fa-lg" > </i></label>
            </div>
            <div class="col-md-10" style="margin-left:-10px;">
              {{profileObj.street}}, <br> {{profileObj.city}}, {{profileObj.state}} - {{profileObj.pincode}} <br>{{profileObj.country}}
            </div>
          </div>

          <!-- </div> -->
        </div>
      </div>
      <!-- <div class="row" style="padding:5px; padding-left:30px;">
        <strong>Groups</strong>
      </div>
      <div class="row" style="padding:5px; padding-left:30px;">
        <strong>Connections</strong>
      </div>
      <div class="row" style="padding:5px; padding-left:30px;">
        <strong>Contacts</strong>
      </div> -->
      <div class="row">
        <div class="container-fluid text-center" style="position:absolute; bottom:10px;">
          <strong>Suggestions</strong>
          <div class="row" style="margin-top:20px;" ng-repeat="group in [1]">
            <div class="col-xs-12">
              <img src="/static/images/group.jpg" width="100%" alt="">
            </div>
            <div class="row" style="margin:15px;">
              <div class="col-xs-8" style="background:#ffffff; padding:5px; height:30px;">
                <span style="cursor:pointer">abcd pvt ltd</span>
              </div>
              <div class="col-xs-4" style="padding:0px; height:30px;">
                <div class="col-xs-12" style="cursor:pointer;background:#0f2d53;padding:5px;color:white;">
                  Follow
                </div>
              </div>
            </div>
            <div class="row">

            </div>

          </div>
        </div>
      </div>



    </div>

    {% verbatim %}
    <div class="col-md-6 col-md-offset-3 newsFeed" style="background-color:#ffffff;border-right:#e0dfdf solid 2px;border-left:#e0dfdf solid 2px">
      <div class="row">
        <comment-Edit comment="postData" send="sendPost" config="postConfig" style="border: 2px solid #eeeeee;"></comment-Edit>
      </div>
      <div style="padding:20px;">
        <div class="row" style="border:solid 2px #eeeeee; margin-top:20px; " ng-repeat="p in posts" ng-init="p.showComments=false">
          <div class="row" style=" border-bottom:solid 2px #eeeeee; margin:0px;">
            <div class="col-xs-1" style="padding:0px;">
              <img ng-src="{{p.user | getDP}}" width="50" height="50" alt="" >
            </div>
            <div class="col-xs-9" style="padding-top:5px">
              <span class="text-primary" style="cursor:pointer;font-size:17px;">{{p.user | getName}}</span> <br>
              <span class="text-muted" style="font-size:11px;">{{p.updated | timeAgo}} ago</span>
            </div>
            <div class="col-xs-2 text-right" style="padding:20px;padding-bottom:0px;">
              <div class="dropdown">
                  <i data-toggle="dropdown" class="dropdown-toggle fa fa-2x fa-ellipsis-h text-muted" style="transform: rotate(90deg);cursor:pointer;margin-top:-10px;"></b></i>
                  <ul class="dropdown-menu">
                      <li ng-click="changeType($index)"><a href="#">Change Type</a></li>
                      <li><a href="#">Delete</a></li>
                      <li ng-click=editPost($index)><a href="#">Edit</a></li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="container-fluid" style="padding:20px;">
              <span style="font-size:15px;" ng-bind-html="p.txt">
              </span>

            </div>
          </div>
          <div class="row" ng-if="p.mediaPost[0].fil != null">
            <div class="container-fluid">
              <img ng-src="{{p.mediaPost[0].fil}}" class="img" style="width:30%" alt="" ng-click="expandImage(p.mediaPost[0].fil)">
            </div>
          </div>
          <div class="row text-center" style="margin:0px;border-top:solid 2px #eeeeee; border-bottom: 2px solid #eee;">
            <div class="col-xs-8" style="">
              <div class="col-xs-2" style="padding-top:10px;">
                <span style="color:#43627d; cursor:pointer;" ng-click="allComments($index);" title="Comment"><i class="fa fa-commenting-o fa-lg" aria-hidden="true"></i> </span>
              </div>
              <div class="col-xs-2" style="padding-top:10px;">
                <span style="color:#43627d; cursor:pointer;" ng-click="sharePost($index)" title="Share"><i class="fa fa-share fa-lg" aria-hidden="true" style="margin-left:5px;"></i> </span>
              </div>
              <div class="col-xs-6" style="padding-top:3px;">
                 <!-- {{p.reacted ? 'background: url(/static/emojis/':''}} {{p.user_reaction == 'like' ? 'like.svg)' :''}} {{p.user_reaction == 'love' ? 'love.svg)' :''}} {{p.user_reaction == 'haha' ? 'haha.svg)' :''}} {{p.user_reaction == 'wow' ? 'wow.svg)' :''}} {{p.user_reaction == 'sad' ? 'sad.svg)' :''}} {{p.user_reaction == 'angry' ? 'angry.svg)' :''}} -->
                <span reactions class="FB_reactions" pk="{{p.pk}}" style="{{p.reacted ? 'background-image: url(/static/emojis/':''}}{{p.user_reaction == 'like' ? 'like.png)' :''}}{{p.user_reaction == 'love' ? 'love.png)' :''}}{{p.user_reaction == 'haha' ? 'haha.png)' :''}}{{p.user_reaction == 'wow' ? 'wow.png)' :''}}{{p.user_reaction == 'sad' ? 'sad.png)' :''}}{{p.user_reaction == 'angry' ? 'angry.png)' :''}} !important;"><span>{{p.likes_count}} {{p.likes_count >1 ? 'Reactions' : 'Reaction'}}</span> </span>
              </div>
            </div>
            <div class="col-md-4" style="padding-right:0px;">
              <div class="col-xs-6 pull-right" style="cursor:pointer;background:#fc5900;padding:10px;color:white;" ng-if="p.typ == 'Selling' || p.typ == 'Barter'" ng-click="postResponse($index,'Buying')">
                Buy
              </div>
              <div class="col-xs-6 pull-right" style="cursor:pointer;background:#fc5900;padding:10px;color:white;" ng-if="p.typ == 'Buying'" ng-click="postResponse($index,'Selling')">
                Sell
              </div>
              <div class="col-xs-6 pull-right" style="cursor:pointer;background:#0f2d53;padding:10px;color:white;" ng-click="postResponse($index,'Barter')">
                Barter
              </div>
            </div>
          </div>
          <div ng-if="p.showComments" class="row" style="padding:15px; padding-bottom:0px;margin:0px;background:#eeeeee;">

            <div class="text-center text-muted" style="padding:40px;font-size:25px;" ng-if="p.timeline.length == 0">
              Be the first one to comment / Make an offer
            </div>


            <div class="media" ng-repeat="comment in p.timeline">
              <div class="row" ng-if="comment.typ == 'comment'" style="padding:0px 15px">
                <div class="media-left">
                  <a href="#"> <img alt="" class="media-object"  style="width: 40px; height: 40px;" ng-src="{{comment.data.user | getDP}}"> </a>
                </div>
                <div class="media-body" style="padding:10px;background:white;border-radius:20px;">
                  <div class="row" style="padding:0px 25px">
                    <span class="media-heading text-primary" style="cursor:pointer;"><strong>{{comment.data.user | getName}}</strong></span>
                    <span class="pull-right text-muted">{{comment.data.created | timeAgo}} ago</span>
                  </div>
                  <div class="row" style="padding:0px 25px">
                    <span style="font-size:15px;" ng-bind-html="comment.data.txt"> </span> <br ng-if="comment.data.fil != null && comment.data.txt != null">
                    <img ng-if="comment.data.fil != null" ng-click="expandImage(comment.data.fil)" class="img img-rounded" ng-src="{{comment.data.fil}}" alt="" width="300px;">
                  </div>
                </div>
              </div>
              <div class="row" ng-if="comment.typ == 'offer'" style="padding:0px 15px">
                <div class="media-left">
                  <a href="#"> <img alt="" class="media-object"  style="width: 100px; height: 100px;" ng-src="/static/images/offer_icon.png" ng-if="comment.data.typ == 'Buying'"> </a>
                  <a href="#"> <img alt="" class="media-object"  style="width: 100px; height: 100px;" ng-src="/static/images/sell_icon.png" ng-if="comment.data.typ == 'Selling'"> </a>
                  <a href="#"> <img alt="" class="media-object"  style="width: 100px; height: 100px;" ng-src="/static/images/barter_icon.jpg" ng-if="comment.data.typ == 'Barter'"> </a>
                </div>
                <div class="media-body" style="padding:10px;background:white;border-radius:20px;">
                  <div class="row" style="padding:0px 25px">
                    <span class="media-heading"><strong>From : </strong></span>
                    <span class="media-heading text-primary" style="cursor:pointer;"><strong>{{comment.data.user | getName}}</strong></span>
                    <span class="pull-right text-muted">{{comment.data.created | timeAgo}} ago</span>
                  </div>
                  <div class="row" style="padding:0px 25px">
                    <span ng-if="comment.data.typ != 'Barter'"><strong class="text-muted">Value : </strong><span style="font-size:15px;"><i class="fa fa-inr"></i> {{comment.data.value}} </span> <br></span>
                    <span style="font-size:17px;" ng-bind-html="comment.data.txt"> </span> <br ng-if="comment.data.fil != null && comment.data.txt != null">
                    <img ng-if="comment.data.fil != null && comment.imgShow" ng-click="expandImage(comment.data.fil)" class="img img-rounded" ng-src="{{comment.data.fil}}" alt="" width="300px;">
                    <a ng-if="comment.data.fil != null && !comment.imgShow" target="_blank" href="{{comment.data.fil}}">{{comment.data.fil}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:20px;">
              <comment-Edit comment="p.podtEditComments" send="postComment" config="postCommentConfig"></comment-Edit>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-xs-offset-9 " style="background:#eeeeee;height:100vh;position:fixed;">
      <div class="row" style="padding:30px;padding-top:70px;">
        <strong>Leads / Offers</strong>
        <div class="card" style="padding-bottom:0px; margin-top:20px; background:#ffffff " ng-repeat="lead in postRes">
          <!-- <div class="row" style=" margin:0px; border-bottom:1px solid #e0e0e0">
            <div class="col-xs-2" style="padding:0px;">
              <img src="/static/images/img_avatar.png" width="40" height="40" alt="">
            </div>
            <div class="col-xs-10">
              <span>Ashish Singh</span> <br>
              <span class="text-muted" style="font-size:11px;">Head of Digital Marketing </span>
            </div>
          </div> -->
          <div class="row" style="padding:25px;">
            <span style="font-size:15px;" ng-bind-html="lead.txt"></span><br>
            <strong class="text-muted">Value : </strong>{{lead.minVal}} <i class="fa fa-inr"></i>
          </div>
          <div class="input-group" style="border-top: 1px solid #e0e0e0; ">
            <textarea name="name" rows="2" cols="80" class="form-control" style="resize:none; border:none;box-shadow: none; " placeholder="Intrested?"></textarea>
            <span class="input-group-addon btn btn-default" style="border:none; border-radius: 0px;"><i class="fa fa-paper-plane" aria-hidden="true" ></i></span>
          </div>
        </div>

      </div>


    </div>
    {% endverbatim %}





  </div>



</div>
</div>
{% endblock %} {% block specific_js %}
<script src="{% static 'js/app.social.js' %}"></script>
{% endblock %}
